#threadList .thread{
    width: calc(33.3% - (5px * 0.666));
    margin-bottom: 5px;
}
@media (max-width: 500px){
	#threadList .thread{
		width: 100%;
        margin-bottom: 5px;
	}
}
@media (min-width: 500px) and (max-width: 800px){
	#threadList .thread{
		width: calc(50% - (5px * 0.5));
        margin-bottom: 5px;
	}
}
