#contentCountdown{
    /* background: #222222; */
    background: #202020;
}

#contentCountdown .countdown{
    font-family: sourceRegular;
    font-size: 5.5em;
    color: #33F7B7;
}.countdown.closed{
    color: #272727;
}


#contentWriter.ticketing img.delete{
    display: none;
}
.special .circle{
    width: 10px;
    height: 10px;
    margin-left: 5px;
}
.circle.val1{background: green;}
.circle.val0{background: red;}
.circle.val2{background: yellow;}
