#contentCountdown{
    height: 40%;
}

#contentCountdown .countdown{
    font-family: sourceRegular;
    font-size: 2.5em;
    color: #33F7B7;
}.countdown.closed{
    color: #272727;
}


#displayWriter{background: #222222;}
#displayWriter #contentWriter.ticketing img.delete{
    width: 40px;
    height: 40px;
}
#displayWriter #contentWriter hr{
    visibility: hidden;
    margin: 0;
}
#displayWriter #contentWriter p.name{
    font-size: 3em;
    font-family: sourceBold;
    margin-top: 2%;
    margin-bottom: 2%;
}#displayWriter #contentWriter p.name img{
    width: 80px;
    height: 80px;
}
.special .circle{
    cursor: pointer;
    width: 10px;
    height: 40px;
    border-radius: 0;
    margin-left: 5px;
}
.circle.val1{background: green;}
.circle.val0{background: red;}
.circle.val2{background: yellow;}

#displayWriter h1 img.notify{
    height: 35px;
    vertical-align: middle;
}
