#contentChat{
    width: 60%;
    background: #1A1A1A;
}
#contentChat #displayChat{
    height: 85%;
    overflow: auto;
}.answer{
    margin-top: 2%;
    text-align: left;
    padding-right: 3%;
    padding-left: 3%;
}.answer .pseudo{
    width: 20%;
    font-size: 0.9em;
    /* background: red; */
}.answer .pseudo a{
    text-decoration: none;
    color: inherit;
}.answer .text{
    width: 60%;
	/* white-space: pre-wrap; */
    /* background: blue; */
}.answer .text .indent{
    display: inline-block;
    width: 25px;
}#end .answer .text a{
    color: blue;
}.answer .gris{
        text-align: right;
}.answer hr{
    color: grey;
}.answer .follower{
    color: #33F7B7;
}.answer .writer{
    color: #0077BE;
}.answer .creator{
    color: #FFD700;
}.answer .lock .barrier, .answer .lock .vote{
    background-color: #1E1E1E;
    text-align: center;
    color: #37F7B7;
    font-family: sourceRegular;
    margin-top: 10px;
    margin-bottom: 10px;
}.answer .lock .barrier{
    min-height: 300px;
    font-size: 2em;
}.answer .lock .vote{
    min-height: 200px;
}.answer .lock .vote .question{
    font-size: 2em;
}.answer .lock .aN .name{
    color: white;
    font-size: 1.2em;
    display: inline-block;
    width: 20%;
    vertical-align: middle;
}.answer .lock .aN .stat{
    display: inline-block;
    width: 10%;
    text-align: left;
    vertical-align: middle;
}.answer .lock .aN .percentage{
    display: inline-block;
    background: black;
    height: 40px;
    width: 65%;
    max-width: 300px;
    vertical-align: middle;
}.answer .lock .aN .percentage div{
    background: #33F7B7;
}.answer .lock .vote .nbVote{
    color: white;
    text-align: right;
    padding-right: 5%;
}
.cache{display: none;}
.crochet{color: #ffc828;}
.accolade{color: #e7c351;}
.hashtag{color: #cddbd3;}
.warning{color: #8d0d0d;}
.at{
    color: #ff009d;
    text-decoration: none;
}
#contentChat #sendChat{
    height: 15%;
    background: white;
    text-align: left;
}#contentChat #sendChat .slide{
    width: 91%;
    height: 100%;
    overflow:hidden;
    text-align: center;
    vertical-align: bottom;
}#contentChat #sendChat textarea{
    border: none;
    resize: none;
}#contentChat #sendChat input[type="image"]{
    width: 3%;
    margin-left: 1%;
}
#contentChat #sendChat #barrierBlock{
    font-family: sourceRegular;
    background:#1E1E1E;
    color: #33F7B7;
}
#contentChat #sendChat #voteBlock{
    background:#1E1E1E;
}#voteBlock .input{
    font-family: sourceRegular;
    color: #33F7B7;
    margin: 0;
    text-align: center;
}#voteBlock .little.input{
    color: white;
    width: 20%;
    min-width: 20%;
    margin-top: 3%;
}
#contentChat #displayLock{
    height: 15%;
    background: #212121;
    overflow: hidden;
    overflow-y: auto;
}

#contentStatistic #contentFollow{
    background: #212121;
}#follow.selected{
    text-decoration: none;
}#follow.selected:hover{
    background: #AAAAAA;
}

@media (max-width: 800px){
    #contentChat, .answer .pseudo, .answer .text{
        width: 100%;
    }
    #contentChat #sendChat .slide{
        width: 79%;
    }#contentChat #sendChat input[type="image"]{
        width: 8%;
        margin-left: 2%;
    }
}
