#contentChat{
    width: 60%;
    background: #1A1A1A;
}
#contentChat #displayChat{
    height: 85%;
    overflow: auto;
}.answer{
    margin-top: 2%;
    text-align: left;
    padding-right: 3%;
    padding-left: 3%;
}.answer .pseudo{
    width: 20%;
    font-size: 0.9em;
    /* background: red; */
}.answer .text{
    width: 60%;
    /* background: blue; */
}.answer .gris{
        text-align: right;
}.answer hr{
    color: grey;
}.answer .follower{
    color: #33F7B7;
}.answer .writer{
    color: #0077BE;
}.answer .creator{
    color: #FFD700;
}
#contentChat form{
    height: 15%;
    background: white;
    text-align: left;
}#contentChat form textarea{
    border: none;
    height: 100%;
    width: 91%;
    resize: none;
}#contentChat form input[type="image"]{
    width: 3%;
    margin-left: 1%;
}

#contentStatistic #contentFollow{
    background: #212121;
    height: 30%;
}#contentFollow #followers{
    font-size: 3.5em;
    font-family: sourceBold;
}#contentFollow #ff{
    font-size: 1.5em;
}#follow.selected{
    text-decoration: none;
}#follow.selected:hover{
    background: #AAAAAA;
}

@media (max-width: 800px){
    #contentChat{
        width: 100%;
    }
    #contentChat form textarea{
        width: 79%;
    }#contentChat form input[type="image"]{
        width: 8%;
        margin-left: 2%;
    }
}
