#contentCode{
    width: 20%;
    background: #202020;
}
#contentCode .center{
    width: 100%;
}

#contentChat{
    width: 60%;
    background: #1A1A1A;
}
#contentChat #displayChat{
    height: 85%;
}
#contentChat form{
    height: 15%;
    background: white;
    text-align: left;
}#contentChat form textarea{
    border: none;
    height: 100%;
    width: 91%;
    resize: none;
}#contentChat form input[type="image"]{
    width: 3%;
    margin-left: 1%;
}

#contentStatistic{
    width: 20%;
    background: #202020;
}
#contentStatistic #contentAuthor{
    /* background: purple; */
    height: 30%;
}#contentAuthor .profilePicture{
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 50%;
}#contentAuthor .gris{
    color: grey;
    font-size: 0.7em;
}
#contentStatistic #contentFollow{
    background: #212121;
    height: 30%;
}#contentFollow #followers{
    font-size: 3.5em;
    font-family: sourceBold;
}#contentFollow #ff{
    font-size: 1.5em;
}
#contentStatistic #contentWriter{
    /* background: yellow; */
    height: 40%;
}
