#banniere .alignement{
    min-height: 350px;
    height: 40vh;
    width: 100%;
    background-size:cover;
    font-size: 1.2em;
}
#banniere .alignement h1{
    font-size: 2.5em;
}
#banniere .alignement button{
    border-radius: 0;
    font-size: 15px;
    height: 40px;
    width: 300px;
}

.post{
    background: #C0C0C0;
}
.vote .field{
    padding: 10px;
    color: black;
}.vote .field .titre{
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 10px;
}.vote .field .intitule{
    font-size: 1.3em;
    text-align: left;
    padding-left: 5%;
}.vote .choices{
    background: grey;
}.vote .choices .choice{
    height: 30px;
    font-size: 1.5em;
    cursor: pointer;
    overflow: hidden;
}
