#ThreadBanner .horizontal{height: 52vh;}
@media (max-width: 499px){
	#ThreadBanner .horizontal{
		min-width: 100%;
	}
}

#chatReading{
	height: 90%;
	overflow: auto;
	text-align: left;
}
#chatWriting{
	height: 10%;
}#chatWriting form{
	height: 100%;
}#chatWriting form input[type="text"]{
	border: none;
	width: 75%;
}#chatWriting form input[type="submit"]{
	border: none;
	width: 25%;
}

#statut{
	display: inline-flex;
}#statut button{
	height: 30px;
	margin-bottom: 10px;
}

.answer{
	background-color: grey;
	color: black;
	width: 40%;
	padding: 20px;
	margin-bottom: 2.5%;
	margin-top: 2.5%;
}.answer.cote_1{
	margin-left: auto;
	margin-right: 10px;
}.answer.cote_0{
	margin-left: 10px;
}.answer .user{
	font-size: 0.6em
}.answer .message{
	font-size: 0.9em;
}
