#contentCode{
    width: 20%;
    background: #202020;
}
#contentCode .center{
    width: 100%;
}

.mainSection{
    width: 60%;
}

#contentStatistic{
    width: 20%;
    background: #202020;
}
#contentStatistic #contentAuthor{
    /* background: purple; */
    height: 30%;
}
#contentStatistic .section{
    height: 30%;
}
#contentStatistic #contentWriter{
    /* background: yellow; */
    height: 40%;
}

@media (max-width: 800px){
    #contentCode, .mainSection, #contentStatistic{
        width: 100%;
    }
}
