#thread{
    /* padding-left: 3%;
    padding-right: 3%; */
    padding-top: 15px;
    padding-bottom: 15px;
}

#thread .list{
    background: #252525;
    /* color: black; */
    font-size: 1.3em;
    font-family: sourceRegular;
    text-align: left;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
}#thread .list:hover{
    background: white;
    color: black;
}
#thread .list .link{
    padding-left: 3%;
    padding-right: 3%;
    width: 89%;
    display: inline-block;
    text-decoration: none;
}

#thread .list .lock{
    display: inline-block;
    width: 5%;
    vertical-align: top;
}
