#thread{
    /* padding-left: 3%;
    padding-right: 3%; */
    /* padding-top: 15px; */
    /* padding-bottom: 15px; */
}

#thread .list{
    background: #252525;
    /* color: black; */
    font-size: 1.3em;
    font-family: sourceRegular;
    text-align: left;
    width: 25%;
    margin: auto;
    /* margin-bottom: 20px; */
    /* border-width: 1%; */
    /* border-color: black;
    border-style: solid; */
}#thread .list:hover{
    background: white;
    color: black;
}
#thread .list .link{
    padding-left: 3%;
    padding-right: 3%;
    width: 89%;
    display: inline-block;
    text-decoration: none;
}

#thread .list .lock{
    display: inline-block;
    width: 5%;
    vertical-align: top;
}

@media (max-width: 800px){
    #thread .list{
        width: 50%;
    }
}
