#thread{
    /* padding-left: 3%;
    padding-right: 3%; */
    padding-top: 15px;
    padding-bottom: 15px;
}
#thread .list{
    background: #252525;
    /* color: black; */
    font-size: 1.3em;
    font-family: sourceRegular;
    text-align: left;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
}
#thread .list .link{
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    width: 100%;
    text-decoration: none;
}#thread .list .link:hover{
    background: white;
    color: black;
}
