header{
	min-height: 80px;
	height: 8vh;
	width: 100%;
	background: #303030;
	position: fixed;
	z-index: 45;
}
header .alignement.gauche{
	width: 70%;
	height: 100%;
	overflow: hidden;
}
header .alignement.droit{
	width:30%;
	height: 100%;
}
header .alignement a{
	color: white;
	text-decoration: none;
}
header .alignement a img{
	height: 60%;
	position: relative;
	top: 20%;
	cursor: pointer;
}
footer{
	min-height:35vh;
	background-color: #232323;
	color: white;
}footer #copyright{
	background: #1A1A1A;
	height: 70px;
}footer #copyright span{
	position: relative;
	top: 25px;
}footer #banner{
	min-height: 30vh;
	display: flex;
}footer #links{
	display: flex;
	min-height: 50px;
	/* background-color: #232323; */
}footer #links a{
	margin-right: 20px;
	margin-top: 3px;
	margin-bottom: 3px;
}footer a{
	color: white;
	text-decoration: none;
}footer a:hover{
	text-decoration: underline;
}
.wrapper{
	min-height: 84vh;
	padding-top: 80px;
	background: #141414;
}
.wrapper .children{
	height: 84vh;
}
.overlay{
	position: relative;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.2);
}

#footerLight{
	min-height: 70px;
}

@media (max-width: 800px), (orientation: portrait){
	header .alignement.gauche{
		width: 0;
	}
	header .alignement.droit, footer .alignement{
		width: 100%;
	}

	.wrapper{
		padding-top: 0px;
	}
}
