#settingData{
    width: 50%;
    background-image: url('../../../../../media/fond/setting/data.jpg');
    background-size: cover;
}

#settingGeneral{
    width: 50%;
    background-image: url('../../../../../media/fond/setting/general.jpg');
    background-size: cover;
}

#settingData h2, #settingGeneral h2{
    font-family: sourceBold;
    font-size: 1.7em;
}
#settingData p, #settingGeneral p{
    margin: auto;
    margin-top: 2%;
    margin-bottom: 3%;
    max-width: 75%;
    text-align: left;
    font-size: 1.2em;
    font-family: source;
}

.b{
    background: #E5E5E5;
    color: black;
    overflow: auto;
}

#changeCountry select, #changeCountry img{
    vertical-align: middle;
}

#changeGender .gender{
    height: 150px;
    cursor: pointer;
    margin-left: 5%;
    margin-right: 5%;
}

#changeSocial .social{
    width: 150px;
    cursor: pointer;
    margin-left: 5%;
    margin-right: 5%;
}#changeSocial .social.selected, #changeSocial .social:hover{
    border-bottom: 3px solid black;
}

#changeHobby .hobby{
    background: white;
    color: black;
    width: 150px;
    cursor: pointer;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 5%;
    font-family: sourceRegular;
}#changeHobby .hobby.selected, #changeHobby .hobby:hover{
    background: #1A1A1A;
    color: white;
}#changeHobby .hobby .large{
    height: 150px;
    background-size: cover;
}

@media (max-width: 800px){
	#settingData, #settingGeneral{
		width: 100%;
	}
}
