#contentFlux{
    text-align: center;
    background: #202020;
}
#contentFlux h1{
    font-family: sourceBold;
    font-size: 2em;
    margin-bottom: 2%;
}
#contentFlux h1 img.notify{
    height: 35px;
    vertical-align: middle;
}

#contentFlux form{
    background-color: white;
    color: black;
    margin: auto;
}
#contentFlux form textarea{
    resize: vertical;
    width: 300px;
    min-height: 200px;
}
#contentFlux .grand.vide button:hover{
    background-color: #004080;
}

#contentFlux #flux #declare, .grand #cancel{
    cursor: pointer;
    height: 10vh;
    margin: auto;
    margin-bottom: 2vh;
}

@media (max-width: 800px), (orientation: portrait){
    #flux #declare, .grand #cancel{
        display: block;
    }
    #addFlux{
        display: none;
    }
}
