#contentFlux{
    text-align: center;
    background: #202020;
}
#contentFlux h1{
    font-family: sourceBold;
    font-size: 2em;
    margin-bottom: 2%;
}
#contentFlux h1 img.notify{
    height: 35px;
    vertical-align: middle;
}
/* #contentFlux #messages{
    text-align: left;
    font-size: 1.2em;
    font-family: source;
}
#contentFlux #messages p{
    border-left: 2px solid grey;
    padding-left: 1%;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-left: 4px;
}
#contentFlux .mark{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: grey;
} */

#contentFlux form{
    background-color: white;
    color: black;
    margin: auto;
}
#contentFlux form textarea{
    resize: vertical;
    width: 300px;
    min-height: 200px;
}
#contentFlux .grand.vide button:hover{
    background-color: #004080;
}
